<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstone.redflow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home" />
        <activity
            android:name=".register"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".request"
            android:parentActivityName=".home" />
        <activity
            android:name=".profile"
            android:parentActivityName=".home" />
        <activity
            android:name=".beadonor"
            android:parentActivityName=".home" />
        <activity
            android:name=".notification"
            android:parentActivityName=".home" />
        <activity
            android:name=".history"
            android:parentActivityName=".home" />
        <activity android:name=".admin.admin_home" />
        <activity
            android:name=".admin.search_user"
            android:parentActivityName=".admin.admin_home" />
        <activity
            android:name=".admin.search_result"
            android:parentActivityName=".admin.search_user" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".redcross_location"
            android:label="@string/title_activity_redcross_location" />
        <activity
            android:name=".admin.registered_users"
            android:parentActivityName=".admin.search_user" />
        <activity android:name=".preliminary_bloodtest.TestActivity" />
        <activity
            android:name=".preliminary_bloodtest.ResultActivity"
            android:parentActivityName=".beadonor" />
        <activity
            android:name=".admin.statistics_home"
            android:parentActivityName=".admin.admin_home" />
        <activity
            android:name=".Donation_history"
            android:parentActivityName=".history" />
        <activity
            android:name=".Claim_history"
            android:parentActivityName=".history" />
        <activity android:name=".admin.user_profile_admin_verifier" />
        <activity android:name=".admin.user_profile_admin" />
        <activity android:name=".admin.search_menu" />
        <activity android:name=".admin.search_blood" />
        <activity android:name=".admin.search_blood_result" />
        <activity android:name=".admin.blood_supply_record" />
        <activity android:name=".admin.blood_supply_info" />
        <activity android:name=".admin.Add_blood_donation" />
        <activity android:name=".admin.empty_searchblood_result" />
        <activity android:name=".about"></activity>
    </application>

</manifest>