<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstone.redflow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".RedFlow"
        android:allowBackup="true"
        android:icon="@mipmap/redflow_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".common_activities.LoginActivity" />
        <activity android:name=".user_activities.home" />
        <activity
            android:name=".common_activities.register"
            android:parentActivityName=".common_activities.LoginActivity" />
        <activity
            android:name=".user_activities.request"
            android:parentActivityName=".user_activities.home" />
        <activity
            android:name=".user_activities.profile"
            android:parentActivityName=".user_activities.home" />
        <activity
            android:name=".user_activities.beadonor"
            android:parentActivityName=".user_activities.home" />
        <activity
            android:name=".user_activities.notification"
            android:parentActivityName=".user_activities.home" />
        <activity
            android:name=".user_activities.history"
            android:parentActivityName=".user_activities.home" />
        <activity
            android:name=".user_activities.proceed_to_RedCross"
            android:parentActivityName=".user_activities.home" />
        <activity android:name=".admin.admin_home" />
        <activity
            android:name=".admin.search_user"
            android:parentActivityName=".admin.admin_home" />
        <activity
            android:name=".admin.search_result"
            android:parentActivityName=".admin.search_user" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".user_activities.redcross_location"
            android:label="@string/title_activity_redcross_location" />
        <activity
            android:name=".admin.registered_users"
            android:parentActivityName=".admin.search_user" />
        <activity android:name=".preliminary_bloodtest.TestActivity" />
        <activity
            android:name=".preliminary_bloodtest.ResultActivity"
            android:parentActivityName=".user_activities.beadonor" />
        <activity
            android:name=".admin.statistics_home"
            android:parentActivityName=".admin.admin_home" />
        <activity
            android:name=".user_activities.Donation_history"
            android:parentActivityName=".user_activities.history" />
        <activity
            android:name=".notimportant.Claim_history"
            android:parentActivityName=".user_activities.history" />
        <activity android:name=".admin.user_profile_admin_verifier" />
        <activity android:name=".admin.user_profile_admin" />
        <activity android:name=".admin.search_menu" />
        <activity android:name=".admin.search_blood" />
        <activity android:name=".admin.search_blood_profile" />
        <activity android:name=".admin.blood_supply_record" />
        <activity android:name=".admin.blood_supply_info" />
        <activity android:name=".admin.Add_blood_donation" />
        <activity android:name=".admin.empty_searchblood_result" />
        <activity android:name=".common_activities.about" />
        <activity
            android:name=".admin.announcement"
            android:parentActivityName=".admin.admin_home" />
        <activity android:name=".user_activities.zero_supply_request" />

        <service android:name=".Firebasenotification.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Firebasenotification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".notification_viewer.notification_normal" />
        <activity android:name=".notification_viewer.notification_with_prelim" />
        <activity android:name=".admin.statistics.gender_statistics" />
        <activity android:name=".admin.statistics.Age_statistics" />
        <activity android:name=".admin.statistics.bloodType_statistics" />
        <activity android:name=".admin.statistics.location_statistics" />
        <activity android:name=".notification_viewer.Blood_Type_Compat" />
        <activity android:name=".admin.statistics.blood_demmand_statistics" />
        <activity android:name=".admin.statistics.user_statistics"></activity>
    </application>

</manifest>